{% extends 'index_parent.html' %}
{% load static %}
{% block subject %}
Cafe
{% endblock %}
{% block subject2 %}
Choose Cafe where you want to go.
{% endblock %}
{% block main %}

<div class="container-fluid">
    <div class="row justify-content-center py-5">
        <div id="accordion-11" class="col-md-12 col-lg-3 u-accordion u-accordion-bg-primary u-accordion-color-white" role="tablist" aria-multiselectable="true">
            <!-- Card -->
            <div class="flex-shrink-0 ps-5 ms-5 py-2 bg-white" style="width: 400px;">
                <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                  <i class="bi-geo-alt ms-2 me-1 "></i>
                  <span class="fs-5 fw-bold">지역 (Location)</span>
                </a>
                <ul class="list-unstyled ps-0">
                  <li class="mb-1 ">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                      서울
                    </button>
                    <div class="collapse" id="home-collapse" style="">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li style="margin-left: 200;"><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">강남</a></li>
                        <li style="margin-left: 200;"><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">홍대</a></li>
                        <li style="margin-left: 200;"><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">등등</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                      Dashboard
                    </button>
                    <div class="collapse" id="dashboard-collapse" style="">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li style="margin-left: 200;"><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
                        <li style="margin-left: 200;"><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Weekly</a></li>
                        <li style="margin-left: 200;"><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Monthly</a></li>
                        <li style="margin-left: 200;"><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Annually</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                      Orders
                    </button>
                    <div class="collapse" id="orders-collapse" style="">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li style="margin-left: 200;"><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New</a></li>
                        <li style="margin-left: 200;"><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Processed</a></li>
                        <li style="margin-left: 200;"><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Shipped</a></li>
                        <li style="margin-left: 200;"><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Returned</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

        <!-- Section-->
        <div class="col-md-12 col-lg-9 order-lg-2 g-mb-70">
            <section class="py-0">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-2">
                        
                        {% for list in rooms%}
                            <div class="col mb-5">
                                <div class="card">
                                    <div class="row">
                                        <div class="col-4">
                                            <img class="img-fluid m-auto img-thumbnail" src="{{list.img_path}}" alt="..." />
                                        </div>
                                        <div class="col-8">
                                            <div class="card-body p-2">
                                                <div class="text-center">
                                                    <h5 class="fw-bolder m-0">{{list.room}}</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-2 p-0">
                                                        <p for="score" class="form-label my-1">평점</p>
                                                        <p for="location" class="form-label my-1">주소</p>
                                                        <p for="tel" class="form-label my-1">Tel</p>
                                                    </div>
                                                    <div class="col-lg-10 p-0 my-1">
                                                        <li class="list-unstyled score" style = "position:absolute;">
                                                            <i value="1" class="bi-star"></i>
                                                            <i value="2" class="bi-star"></i>
                                                            <i value="3" class="bi-star"></i>
                                                            <i value="4" class="bi-star"></i>
                                                            <i value="5" class="bi-star"></i>
                                                        </li>
                                                        <li class="list-unstyled score_fill" value="" style ="max-width:104px; overflow:hidden; white-space:nowrap;">
                                                            <i value="1" class="bi-star-fill"></i>
                                                            <i value="2" class="bi-star-fill"></i>
                                                            <i value="3" class="bi-star-fill"></i>
                                                            <i value="4" class="bi-star-fill"></i>
                                                            <i value="5" class="bi-star-fill"></i>
                                                        </li>
                                                        <p for="activeness" class="form-label my-1">{{list.loc}}</p>
                                                        <p for="activeness" class="form-label my-1">{{list.tel}}</p>
                                                    </div>
                                                    <div class="col-lg-6 text-center">
                                                        <div class="text-center my-1"><a class="btn btn-outline-dark" href="{{list.url}}">사이트 방문하기</a></div>    
                                                    </div>
                                                    <div class="col-lg-6 text-center">
                                                    <div class="text-center my-1"><a class="btn btn-outline-dark" href="cafe_detail/{{list.room}}">카페정보 보기</a></div>    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
            </section>
{% endblock %}