{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />
    
    
    
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    
    {% block head %}
    {% endblock head %}
    
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../../">Room Escape</a>
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="../../../">홈</a></li>
                    <li class="nav-item"><a class="nav-link" href="../../../cafe/">카페</a></li>
                    <li class="nav-item"><a class="nav-link" href="../../../theme/">테마</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">게시판</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">공지사항</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">자유게시판</a></li>
                            <li><a class="dropdown-item" href="#!">익명게시판</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex me-lg-0 mb-2 mb-lg-0 ms-auto">
                    <button class="btn btn-outline-light btn-sm" type="button" onclick="location.href='../login'">
                        <i class="bi-key-fill me-1"></i>
                        Login
                    </button>

                    &nbsp;&nbsp;
                    <button class="btn btn-outline-light btn-sm" type="button" onclick="location.href='../signup'">
                        <i class="bi-person-fill me-1"></i>
                        Sign Up
                    </button>
                </form>
                
            </div>
        </div>
    </nav>

{% block content %}
{% endblock content %}

</body>
</html>
