{% extends 'index_parent.html' %}
{% load static %}
{% block subject %}
Search
{% endblock %}
{% block subject2 %}
Showing what you search.
{% endblock %}
{% block main %}
    <header class="bg-warning ps-5 mt-5 mb-2 py-3" style="--bs-bg-opacity: .6;">
        <div class="text-white ms-5">
            <h1 class="h3 fw-bolder">카페 검색 결과</h1>
        </div>
    </header>
    <div class="container ms-5 ps-5">
        {%for post in posts_room%}
        <article>
            <header class="g-mb-15 mt-3">
                <h2 class="h4 g-mb-5">{{post.room}}
                </h2>
            </header>
            <div class="d-lg-flex justify-content-between border-bottom border-2">
            <!-- Search Info -->
                <ul class="list-inline g-mb-10 g-mb-0--lg">    
                    <li class="list-inline-item g-mr-30">
                        <label class="label">{{post.loc}}</label>
                    </li><br>
                    <li class="list-inline-item g-mr-30">
                        <a href="{{post.url}}" class="u-link-v5 g-color-primary--hover">사이트 방문</a>
                    </li>
                    <li class="list-inline-item g-mr-30">
                        <a href="../../../cafe/cafe_detail/{{post.room}}" class="u-link-v5 g-color-primary--hover">상세정보보기</a>
                    </li>   
                </ul>
            </div>
        </article>
        {% endfor %}
        <!-- End Search Result -->
        <hr class="g-brd-gray-light-v4 g-my-20">   
    </div>
    <header class="bg-warning ps-5 mt-5 mb-2 py-3" style="--bs-bg-opacity: .6;">
        <div class="text-white ms-5">
            <h1 class="h3 fw-bolder">테마 검색 결과</h1>
        </div>
    </header>
    <div class="container ms-5 ps-5">
        {%for post in posts_theme%}
        <article>
            <header class="g-mb-15 mt-3">
                <h2 class="h4 g-mb-5">{{post.theme}}
                </h2>
            </header>
            <div class="d-lg-flex justify-content-between border-bottom border-2">
            <!-- Search Info -->
                <ul class="list-inline g-mb-10 g-mb-0--lg">    
                    <li class="list-inline-item g-mr-30">
                        <label class="label">{{post.genre}}</label>
                    </li><br>
                    <li class="list-inline-item g-mr-30">
                        <a href="../../../cafe/cafe_detail/{{post.room.room}}" class="u-link-v5 g-color-primary--hover">{{post.room.room}}</a>
                    </li>
                    <li class="list-inline-item g-mr-30">
                        <a href="../../../theme/theme_detail/{{post.no}}" class="u-link-v5 g-color-primary--hover">상세정보보기</a>
                    </li>   
                </ul>
            </div>
        </article>
        {% endfor %}
        <!-- End Search Result -->
        <hr class="g-brd-gray-light-v4 g-my-20">   
    </div>
</div>
</header>
{% endblock %}