{% extends 'index_parent.html' %}
{% load static %}
{% block subject %}
<img class="img-fluid g-brd-around g-brd-3 g-brd-gray-light-v3 rounded-circle border border-4 border-secondary" src="https://bangtal.s3.amazonaws.com/cafe/thumb2_cafe__Pr_1527486656.jpg__7.jpg" alt="Image Description">
{% endblock %}
{% block subject2 %}
<label class="form-label text-black fw-bolder">비밀의 화원 강남점</label>
{% endblock %}
{% block main %}
<main>
<div class="container-fluid px-5">  
    <!-- Listing - Main Info -->
    <div class="row my-1">
      <div class="col-md-4 col-lg-3 g-mb-30">
      </div>
      <div class="col-md-4 col-lg-6 g-mb-30">
        <div class="row my-1">
        <div class="col-md-4 col-lg-12 g-mb-30">
          <i class = "bi-info-circle-fill me-1"></i>
            <label for="list" class="h5 form-label fw-bolder mt-3">테마 정보</label>
          <div class="row">
            <!-- Listing - List of Details -->
            <ul class="col-md-6 list-unstyled mb-0">     
            <li class="border-top-0 border-end-0 border-start-0 border-0.1 pt-1 mb-3" style="border : 1px dashed gray;">
                <span class="float">list :</span>
                <span class="float" style="float:right;">something</span>
            </li>
            <li class="border-top-0 border-end-0 border-start-0 border-0.1 pt-1 mb-3" style="border : 1px dashed gray;">
                <span class="float">list :</span>
                <span class="float" style="float:right;">something</span>
            </li>
            <li class="border-top-0 border-end-0 border-start-0 border-0.1 pt-1 mb-3" style="border : 1px dashed gray;">
                <span class="float">list :</span>
                <span class="float" style="float:right;">something</span>
            </li>
            <li class="border-top-0 border-end-0 border-start-0 border-0.1 pt-1 mb-3" style="border : 1px dashed gray;">
                <span class="float">list :</span>
                <span class="float" style="float:right;">something</span>
            </li>
            <li class="border-top-0 border-end-0 border-start-0 border-0.1 pt-1 mb-3" style="border : 1px dashed gray;">
                <span class="float">list :</span>
                <span class="float" style="float:right;">something</span>
            </li>
            <li class="border-top-0 border-end-0 border-start-0 border-0.1 pt-1 mb-3" style="border : 1px dashed gray;">
                <span class="float">list :</span>
                <span class="float" style="float:right;">something</span>
            </li>
            </ul>
            <!-- End Listing - List of Details -->
    
            <!-- Listing - List of Details -->
            <ul class="col-md-6 list-unstyled g-font-weight-600 mb-0">
                <li class="border-top-0 border-end-0 border-start-0 border-0.1 pt-1 mb-3" style="border : 1px dashed gray;">
                    <span class="float">list :</span>
                    <span class="float" style="float:right;">something</span>
                </li>
                <li class="border-top-0 border-end-0 border-start-0 border-0.1 pt-1 mb-3" style="border : 1px dashed gray;">
                    <span class="float">list :</span>
                    <span class="float" style="float:right;">something</span>
                </li>
                <li class="border-top-0 border-end-0 border-start-0 border-0.1 pt-1 mb-3" style="border : 1px dashed gray;">
                    <span class="float">list :</span>
                    <span class="float" style="float:right;">something</span>
                </li>
                <li class="border-top-0 border-end-0 border-start-0 border-0.1 pt-1 mb-3" style="border : 1px dashed gray;">
                    <span class="float">list :</span>
                    <span class="float" style="float:right;">something</span>
                </li>
                <li class="border-top-0 border-end-0 border-start-0 border-0.1 pt-1 mb-3" style="border : 1px dashed gray;">
                    <span class="float">list :</span>
                    <span class="float" style="float:right;">something</span>
                </li>
                <li class="border-top-0 border-end-0 border-start-0 border-0.1 pt-1 mb-3" style="border : 1px dashed gray;">
                    <span class="float">list :</span>
                    <span class="float" style="float:right;">something</span>
                </li>
            </ul>
        </div>    
    </div>

        <div class="col-md-4 col-lg-12 g-mb-30 border border-1 border-start-0 border-end-0 pt-4">
          <!-- Listing - Location on Map -->
          <i class = "bi-map-fill me-1"></i>
          <label for="map" class="h5 form-label fw-bolder justify-content-center">위치(지도)</label>
            <div class="col-md-10 g-mb-30 ">
              <!-- Map -->
              지도 공간
              <!-- End Map -->
            </div>
        </div>
        <div class="col-md-4 col-lg-12 g-mb-30 my-4">
          <i class = "bi-door-open-fill me-1"></i>
        <label for="review" class="h5 form-label fw-bolder">리뷰</label>
            <div class="row border border-1 ms-1">
              <div class="input-group m-1">
                <label for="title" class="form-label pt-1 fw-bolder me-3 ">제목 :</label>
                <input type="text" name="contents" id="title" value="" class="form-control rounded-1 form-control-sm">
              </div>
              <div class="col-md-9 g-mb-30 col-lg-3">
                <label for="fear" class="form-label m-0">공포도</label>
                      <li class="list-unstyled fear">
                        <i data-value="1" class="bi-star" onclick='click_star(this)'></i>
                        <i data-value="2" class="bi-star" onclick='click_star(this)'></i>
                        <i data-value="3" class="bi-star" onclick='click_star(this)'></i>
                        <i data-value="4" class="bi-star" onclick='click_star(this)'></i>
                        <i data-value="5" class="bi-star" onclick='click_star(this)'></i>
                      </li>
              </div>
              <div class="col-md-9 g-mb-30 col-lg-3">
                <label for="activeness" class="form-label m-0">활동성</label>
                      <li class="list-unstyled activeness">
                        <i data-value="1" class="bi-star" onclick='click_star(this)'></i>
                        <i data-value="2" class="bi-star" onclick='click_star(this)'></i>
                        <i data-value="3" class="bi-star" onclick='click_star(this)'></i>
                        <i data-value="4" class="bi-star" onclick='click_star(this)'></i>
                        <i data-value="5" class="bi-star" onclick='click_star(this)'></i>
                      </li>
              </div>
              <div class="col-md-9 g-mb-30 col-lg-3">
                <label for="difficulty" class="form-label m-0">난이도</label>
                      <li class="list-unstyled difficulty">
                        <i data-value="1" class="bi-star" onclick='click_star(this)'></i>
                        <i data-value="2" class="bi-star" onclick='click_star(this)'></i>
                        <i data-value="3" class="bi-star" onclick='click_star(this)'></i>
                        <i data-value="4" class="bi-star" onclick='click_star(this)'></i>
                        <i data-value="5" class="bi-star" onclick='click_star(this)'></i>
                      </li>
              </div>
              <div class="col-md-9 g-mb-30 col-lg-3">
                <label for="score" class="form-label m-0">평점</label>
                      <li class="list-unstyled score">
                        <i data-value="1" class="bi-star" onclick='click_star(this)'></i>
                        <i data-value="2" class="bi-star" onclick='click_star(this)'></i>
                        <i data-value="3" class="bi-star" onclick='click_star(this)'></i>
                        <i data-value="4" class="bi-star" onclick='click_star(this)'></i>
                        <i data-value="5" class="bi-star" style="color:darkyellow;" onclick='click_star(this)'></i>
                      </li>

              </div>
                    <div class="input-group m-1">
                      <input type="text" name="contents" id="contents" value="" class="form-control rounded-1 form-control-sm">
                      <span class="input-group-btn">
                        <button class="btn btn-sm u-btn-purple rounded-0" type="submit">확인</button>
                      </span>
                    </div>
              </div>
              <div class="row ms-1">
                <table class="table table-hover u-table--v1 mt-3 text-center">
                  <thead>
                    <tr><th width="35%" class="text-center">제목</th>
                      <th width="20%" class="text-center">별점</th>
                      <th width="20%" class="text-center">작성자</th>
                      <th width="25%" class="text-center">작성일자</th>
                  </tr></thead>
                  <tbody class="reviews table-hover">
                    <tr>
                      <td class="g-font-size-12 text-center" onclick="location.href='/reviews/868'">국가정보원을 다녀온 후기</td>
                      <td class="g-font-size-12 text-center">별점</td>
                      <td class="g-font-size-12 text-center" onclick="location.href='/user/친저란'">친저란</td>
                      <td class="g-font-size-12 text-center" onclick="location.href='/reviews/868'">2018-10-20</td>
                    </tr>
                  </tbody>
                </table>   
        <nav>
          <ul class="pagination justify-content-center">
          <li class="page-item">
            <a rel="prev" class="page-link" href="/caves/1">1</a>
          </li>
          <li class="page-item active">
            <a data-remote="false" class="page-link">2</a>
          </li>
          </ul>
        </nav>
      </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- End Call to Action -->
    
      
</div>
    </main>
{% endblock %}