{% extends 'index_parent.html' %}
{% load static %}
{% block subject %}
<img class="img-fluid g-brd-around g-brd-3 g-brd-gray-light-v3 rounded-circle border border-4 border-secondary" src="https://bangtal.s3.amazonaws.com/cafe/thumb2_cafe__Pr_1527486656.jpg__7.jpg" alt="Image Description">
{% endblock %}
{% block subject2 %}
<label class="form-label text-black fw-bolder">비밀의 화원 강남점</label>
{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
      <div class="col text-center ">
        <div class="col-2 text-center ">
            Column
        </div>
        <div class="col-2 text-center ">
            Column
        </div>
      </div>
      <div class="col text-center border border-top-0 border-bottom-0 border-2 my-1">
        Column
      </div>
      <div class="col text-center ">
        Column
      </div>
    </div>
  </div>
{% endblock %}