{% extends 'index_parent.html' %}
{% load static %}
{% block subject %}
Theme
{% endblock %}
{% block subject2 %}
Choose Theme what you want to know.
{% endblock %}
{% block main %}
    <div class="row justify-content-center py-4 px-5 mx-5">
        <div class="col-sm-2 col-lg-2 g-mb-10">
        </div>
      <div class="col-sm-4 col-lg-4 g-mb-10">
        <!-- Button Group -->
        <div class="col-md-0">
            <label for="location" class="form-label">지역</label>
            <select class="form-select" id="location" required="">
              <option value="">Choose...</option>
              <option disabled>-----서울-----</option>
              <option>강남</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
        </div>
        <!-- End Button Group -->
      </div>
      <div class="col-sm-4 col-lg-4 g-mb-10">
        <label for="Search" class="form-label">테마명</label>
        <input class="form-control " type="search" placeholder="검색할 테마명을 입력하세요." aria-label="Search">
      </input>
    </div>
    <div class="col-sm-2 col-lg-2 g-mb-10">
    </div>

      <div class="col-sm-2 col-lg-2 g-mb-10 my-4">
        <div class="col-md-0">
          <label class="g-mb-10">
            공포도
          </label>
          <div class="form-group">
            <select class="form-select" id="max_fear" required="">
              <option value="5">최대 공포도</option>
              <option value="1">1점 이하</option>
              <option value="2">2점 이하</option>
              <option value="3">3점 이하</option>
              <option value="4">4점 이하</option>
              <option value="5">5점 이하</option>
            </select>
            <select class="form-select" id="min_fear" required="">
              <option value="0">최소 공포도</option>
              <option value="1">1점 이상</option>
              <option value="2">2점 이상</option>
              <option value="3">3점 이상</option>
              <option value="4">4점 이상</option>
              <option value="5">5점 이상</option>
            </select>
            <input type="hidden" value="0-5" name="fear">
          </div>
        </div>
      </div>

      <div class="col-sm-2 col-lg-2 g-mb-10 my-4">
        <div class="col-md-0">
          <label class="g-mb-10">
            활동성
          </label>
          <div class="form-group">
            <select class="form-select" id="max_activeness" required="">
              <option value="5">최대 활동성</option>
              <option value="1">1점 이하</option>
              <option value="2">2점 이하</option>
              <option value="3">3점 이하</option>
              <option value="4">4점 이하</option>
              <option value="5">5점 이하</option>
            </select>
            <select class="form-select" id="min_activeness" required="">
              <option value="0">최소 활동성</option>
              <option value="1">1점 이상</option>
              <option value="2">2점 이상</option>
              <option value="3">3점 이상</option>
              <option value="4">4점 이상</option>
              <option value="5">5점 이상</option>
            </select>
            <input type="hidden" value="0-5" name="activity">
          </div>
        </div>
      </div>

      <div class="col-sm-2 col-lg-2 g-mb-10 my-4">
        <div class="col-md-0">
          <label class="g-mb-10">
            난이도
          </label>
          <div class="form-group">
            <select class="form-select" id="max_difficulty" required="">
              <option value="5">최대 난이도</option>
              <option value="1">1점 이하</option>
              <option value="2">2점 이하</option>
              <option value="3">3점 이하</option>
              <option value="4">4점 이하</option>
              <option value="5">5점 이하</option>
            </select>
            <select class="form-select" id="min_difficulty" required="">
              <option value="0">최소 난이도</option>
              <option value="1">1점 이상</option>
              <option value="2">2점 이상</option>
              <option value="3">3점 이상</option>
              <option value="4">4점 이상</option>
              <option value="5">5점 이상</option>
            </select>
            <input type="hidden" value="0-5" name="difficulty">
          </div>
        </div>
      </div>

     <div class="col-sm-2 col-lg-2 g-mb-10 my-4">
        <div class="col-md-0">
          <label class="g-mb-10">
            평점
          </label>
          <div class="form-group">
            <select class="form-select" id="max_score" required="">
              <option value="5">최대 평점</option>
              <option value="1">1점 이하</option>
              <option value="2">2점 이하</option>
              <option value="3">3점 이하</option>
              <option value="4">4점 이하</option>
              <option value="5">5점 이하</option>
            </select>
            <select class="form-select" id="min_score" required="">
              <option value="0">최소 평점</option>
              <option value="1">1점 이상</option>
              <option value="2">2점 이상</option>
              <option value="3">3점 이상</option>
              <option value="4">4점 이상</option>
              <option value="5">5점 이상</option>
            </select>
            <input type="hidden" value="0-5" name="userScore">
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center col-sm-10 col-lg-10 g-mb-10">
      <button class="btn btn-lg btn-warning text-white">Search</button>
    </div>
    </div>
</div>
  </form>
        <!-- Section-->
        <section class="py-0">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    $40.00 - $80.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="theme_detail">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Popular Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $40.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    $120.00 - $280.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Popular Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $40.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}