{% extends 'index_parent.html' %}
{% load static %}
{% block subject %}
방탈출 정보 분석 추천 사이트
{% endblock %}
{% block subject2 %}
메인 홈화면입니다 
{% endblock %}
{% block main %}

<head>
		<!DOCTYPE html>
		<meta charset="utf-8">
		<title>방탈출_공지사항</title>

		<style>
			a{text-decoration:none}
		
		</style>
</head>

<body>
<center>
	<hr color='gray' width='600' size='5' >
    <font color='gray' size='4' face='고딕체'>
	<hr color='gray' width='600' size='5'  >
	<a href="main">방탈출 사이트</a>
	&nbsp;&nbsp;|&nbsp;&nbsp;
	<a href="index1">테마 인덱스</a>
	<br>
	<a href="address_list">회원 주소록</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="board_list">게시판</a>(미션)
	<hr width='600' size='5' color='gray' noshade>

	<br><br>
	
	<br>
    <a href="template1/">template1</a> &nbsp;|&nbsp;
	<a href="template2/">template2</a> &nbsp;|&nbsp;
    <a href="template3/">template3</a> &nbsp;|&nbsp;
	<a href="template4/">template4</a> 
	<br>
    <a href="template5/">template5</a> &nbsp;|&nbsp;
	<a href="template6/">template6</a> &nbsp;|&nbsp;
	<a href="template7/">template7</a> &nbsp;|&nbsp;
	<a href="template8/">template8</a>
	</font>
	<br><br><br><br>
</center>
</body>
{% endblock %}